<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elimu/Gallery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gallerystyle.css' %}">


</head>
<body>
<h2>This is my Gallery</h2>
<p>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam amet commodi
        consequuntur dicta ea, exercitationem explicabo facere harum id in ipsum officiis quae,
        rem reprehenderit sint sunt tempora voluptatem.</span><span>Deserunt earum ipsum nesciunt
    soluta. Ab at aut autem blanditiis dolor, facere illum labore magnam maxime minima
    necessitatibus nesciunt nisi optio perspiciatis quae quia, quis repellendus? Doloremque
    perferendis sed soluta.</span><span>Alias aliquam atque debitis eligendi ipsam mollitia
    similique tenetur veniam! Adipisci corporis cupiditate deleniti error et ipsa numquam placeat
    quod veritatis voluptates! Adipisci at eos nam, obcaecati odit reprehenderit
    sint!</span><span>Dolorem, dolorum, eligendi. Accusamus, accusantium consectetur dicta
    dolore eligendi et, fugiat iusto minus neque qui saepe voluptate, voluptatem voluptatum.
    Facilis fugit, harum maiores modi odio perferendis possimus quisquam reiciendis sequi?</span>
</p>

<div>
<img src="{% static 'static/assets/images/fithotel.jpeg'%}" alt="">
<img src="{% static 'static/assets/images/ai.jpeg'%}" alt="">
<img src="{% static 'static/assets/images/back1.jpeg'%}" alt="">
<img src="{% static 'static/assets/images/backgound1.jpeg'%}" alt="">
<img src="{% static 'static/assets/images/background.jpeg'%}" alt="">
<img src="{% static 'static/assets/images/drugs2.jpeg'%}" alt="">
<img src="{% static 'static/assets/images/academy.jpeg'%}" alt="">
<img src="{% static 'static/assets/images/ai.jpeg'%}" alt="">
<img src="{% static 'static/assets/images/back1.jpeg'%}" alt="">
<img src="{% static 'static/assets/images/backgound1.jpeg'%}" alt="">
<img src="{% static 'static/assets/images/background.jpeg'%}" alt="">
<img src="{% static 'static/assets/images/drugs2.jpeg'%}" alt="">

</div>

</body>
</html>