<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elimu/homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/indexstyle.css' %}">
</head>
<body>
<h2>Elimu App</h2>
<p>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus architecto corporis
        cupiditate deleniti dignissimos dolor dolores est fugiat molestiae necessitatibus non
        nostrum quam ratione recusandae, rem sapiente sed sint!</span><span>Accusamus animi,
    architecto aspernatur beatae commodi consectetur distinctio doloremque esse, fuga hic
    laudantium nostrum odio odit omnis optio perspiciatis quae quasi quis, quisquam quod rerum
    temporibus ut vitae voluptatibus!</span><span>A ad alias, at atque aut autem beatae consectetu
    r dolor est eum iure magni omnis qui quis vitae. Earum enim exercitationem labore, maiores
    molestias nulla omnis quam quos rerum voluptates!</span></p>

<div class="home">
    <div>
        <img src="{% static 'static/assets/images/fithotel.jpeg'%}" alt="">
    </div>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid asperiores assumenda debitis
        dignissimos, distinctio ducimus facilis incidunt ipsam labore, magni natus neque nostrum quibusdam ratione
        recusandae similique tempore velit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid asperiores assumenda debitis
        dignissimos, distinctio ducimus facilis incidunt ipsam labore, magni natus neque nostrum quibusdam ratione
        recusandae similique tempore velit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid asperiores assumenda debitis
        dignissimos, distinctio ducimus facilis incidunt ipsam labore, magni natus neque nostrum quibusdam ratione
        recusandae similique tempore velit.
        </p>

    </div>
</div>


</body>
</html>